.home_container {
  background: $background-color;
  height: 1000px;
}

.home {
  display: flex;
  flex-direction: row;
}

.initials{

}

.logout-button {

}

.btn {

}

.nav-bar {

}
.nav-bar-logo {

}
