body {
	border: 1px solid black;
	font-size: 17px;
	line-height: 1.4;
	font-family: sans-serif;
	background: #f6f2ef;
}

.session-form {
	display: flex;
	flex-direction: column;
}

img {
	width: 277px;
	height: 78pxs;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-bottom: 15px;
}

.form {
	display: block;
}

.session-form-white {
	background-color: white;
	width: 380px;
	height: 348px;
	padding: 30px;
	margin: 0 35px;
}

.login-button {
	display: inline-block;
	padding: 10px 15px;
	border: 1px solid #bfbfbf;
	border-color: rgba(0,0,0,0.15);
	border-bottom-width: 2px;
	border-radius: 4px;
	background-color: #fff;
	text-decoration: none;
	font-weight: bold;
	color: #000;
	line-height: inherit;
	vertical-align: middle;
	white-space: normal;
	cursor: pointer;
	-webkit-appearance: none;
	transition: box-shadow 0.15s ease-in-out;
	font-family: sans-serif;
	font-size: 17px;
	text-align: center;
	width: 380px;
}

.input-login {
	display: inline-block;
	width: 100%;
	height: 42px;
	border: 1px solid #bfbfbf;
	font-size: 16px;
	margin: 0 0 20px;
	padding-left: 10px;
	vertical-align: middle;
	border-radius: 4px;
}

.input-label {
	font-weight: bold;
	margin: 0 0 20px;
}
